// >>>Breakpoints
$mobile: 320px;
$mobile-inter: 450px;
$mobile-sec-inter: 540px;
$tablet-inter: 660px;
$tablet: 744px;
$laptop-inter: 830px;
$laptop: 1024px;
$dekstop: 1280px;
$l-dekstop: 1470px;
$l-dekstop-inter: 1680px;
$xl-dekstop: 1920px;
$inter-dekstop: 2048px;
$two-k-dekstop: 2560px;
$four-k-dekstop: 3640px;
$eight-k-dekstop: 7680px;
