// >>>Basic
$maxWidthContainer: 1440px;
$mainColorText: #141522;
$lineheight: 150%;
$userfont: 'PlusJakartaSans';


// >>>Color
$white: #FFF;		// primary 0
$light-blue: #BAC8FF;	// primary 200
$dark-blue: #546FFF;	// primary 500
$light-purple: #8E92BC;	// secondary 300
$purple: #54577A;	// secondary 400
$dark-purple: #141522;	// secondary 500
$medium-white: #F5F5F7;
$light-white: #FAFAFA;
$yellow: #FFB054;
$red: #FF4D5E;
$blue: #04A4F4;
$green: #25C78B;

// 18% - 52% - 30%